@layout('layouts/main')
@set('title', 'Create Contacts')

@section('body')

    <h2>
        Ingresar nuevo contacto			
        <a href="" class="btn btn-info pull-right">
             Volver
        </a>
    </h2>

    

@end