@layout('layouts/main')
@set('title', 'Add Contacts')

@section('body')  
    <h2>
        Agregar contactos
        <a class="btn btn-outline-primary " href="{{ route('contacts.index') }}" role="button" >
            <ion-icon name="arrow-back-outline" size="large"></ion-icon>
        </a>
    </h2>
@end